@charset "UTF-8";

* {
    margin: 0px;
}
header {
    padding: 4em;
    background: lightgray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: .8rem;
    align-items: center;
}

ul li:last-child {
    background: blue;
    color: white;
    padding: .8rem;

}